* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 14px;
}

window#waybar {
	background: transparent;
	color: #eceff4;
}

widget > * {
	padding: 4px 10px;
	margin-top: 15px;
	margin-right: 15px;
	border-radius: 10px;
}

.modules-left > * > * {
	margin-left: 15px;
	background: #2e3440;
}

#clock {
	background: #4c566a;
}

#network, #custom-audio {
	background: #4c566a;
}

#cpu {
	background: #434c5e;
}

#memory {
	background: #3b4252;
}

#custom-power {
	background: #2e3440;
	padding-right: 13px;
}
