@define-color bg #282828;
@define-color red-dim #cc241d;
@define-color green-dim #98971a;
@define-color yellow-dim #d79921;
@define-color blue-dim #458588;
@define-color purple-dim #b16286;
@define-color aqua-dim #689d6a;
@define-color gray-dim #a89984;

@define-color gray #928374;
@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color fg #ebdbb2;

@define-color bg0_h #1d2021;
@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color orange-dim #d65d0e;

@define-color bg0_s #32302f;
@define-color fg4 #a89984;
@define-color fg3 #bdae93;
@define-color fg2 #d5c4a1;
@define-color fg1 #ebdbb2;
@define-color fg0 #fbf1c7;
@define-color orange #fe8019;


* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 14px;
}

/* The bar itself */
#waybar {
	background: transparent;
}

/* Hide window name widget when there's no active window */
#waybar.empty #window {
	background: transparent;
}

/* For some stupid reason i need to do basically all bar styling here */
#waybar > .horizontal {
	margin: 15px 15px 0;
	padding: 5px;

	border: 3px solid @bg2;
	border-radius: 15px;

	background: @bg;
}

/* All widgets */
widget > * {
	padding: 4px 10px;
	margin-right: 5px;

	border-radius: 10px;

	background: @bg1;
	color: @fg;
}

/* App launcher */
#custom-launcher {
	padding-right: 13px;
}

/* Bring system info to the same "box" */
#cpu {
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#custom-gpu {
	margin-right: 0;
	padding: 0;
	border-radius: 0;
}

#memory {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Hide currently playing song when paused */
#mpris.paused {
	background: transparent;
}

/* Audio control */
#custom-audio {
	padding-right: 13px;
}

/* Power menu */
#custom-power {
	margin-right: 0; /* Remove margin here because it is the last widget */
	padding-right: 14px;
}
