@import "mocha.css";

* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 14px;
}

/* The bar itself */
#waybar {
	background: transparent;
}

/* Hide window name widget when there's no active window */
#waybar.empty #window {
	background: transparent;
}

/* For some stupid reason i need to do basically all bar styling here */
#waybar > .horizontal {
	margin: 15px 15px 0;
	padding: 5px;

	border: 3px solid @surface0;
	border-radius: 15px;

	background: @base;
}

/* All widgets */
widget > * {
	padding: 4px 10px;
	margin-right: 5px;

	border-radius: 10px;

	background: @surface0;
	color: @subtext1;
}

/* Hyprland workspaces */
#workspaces {
	padding: 4px;
}

/* The individual workspace IDs */
#workspaces button {
	margin: 0;
	padding: 0 4px;

	border-radius: 6px;

	background: @surface1;
}

/* Add spacing between the workspace IDs */
#workspaces button:not(:last-child) {
	margin-right: 4px;
}

/* The currently active workspace */
#workspaces button.active {
	border: 1px solid @overlay1;
}

/* Bring system info to the same "box" */
#cpu {
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#custom-gpu {
	margin-right: 0;
	padding: 0;
	border-radius: 0;
}

#memory {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Hide currently playing song when paused */
#mpris.paused {
	background: transparent;
}

/* Audio control */
#custom-audio {
	padding-right: 13px;
}

/* Power menu */
#custom-power {
	margin-right: 0; /* Remove margin here because it is the last widget */
	padding-right: 14px;
}
