window {
  margin: 0px;
  border: 2px solid #89b4fa;
  border-radius: 10px;
  background-color: #313244;
}

#input {
  margin: 5px;
  border: none;
  color: #cdd6f4;
  background-color: #585b70;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #313244;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #313244;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #cdd6f4;
}

#entry:selected {
  background-color: #585b70;
}
